{% macro render_chart_form(workspace, form) %}

  {% set selectedDataSource = request.args.get('selectedDataSource', '') %}

  <div class="form-row">
    <label>
      <span>Data source:</span>
      <select name="dataSource" class="form-input-blue full">
        {% for data_source, label in [('direct', 'Direct upload'), ('api', 'API'), ('compare', 'Compare')]: %}
          <option
              {{ "selected" if data_source == selectedExperimentId }}
              value="{{ data_source }}">
            {{ label }}
          </option>
        {% endfor %}
      </select>
    </label>
  </div>

  <div class="trace-group">
    {% for source_type in ['upload', 'api']: %}
      {% for workspace_entry in workspace.workspaceEntries if workspace_entry.sourceType == source_type: %}
        {% set key = "workspaceItem|{}".format(workspace_entry.id) %}

        <div class="form-row js-trace-row" data-source-type="{{ source_type }}">
          <input
              type="checkbox"
              name="{{ key }}"
              id="{{ key }}"
              {# "checked" if measurement_context.id in form.measurement_context_ids #}
              {# "data-axis-left" if measurement_context.id in form.left_axis_ids #}
              {# "data-axis-right" if measurement_context.id in form.right_axis_ids #}
              class="js-measurement-toggle" />
          <label for="{{ key }}">
            {{ workspace_entry.label }}
          </label>
        </div>
      {% endfor %}
    {% endfor %}
  </div>

  <div class="form-row margin-top-10 small">
    <a href="#" class="white-button small-button flex-right js-clear-chart">
      🧹 Clear chart
    </a>
  </div>

{% endmacro %}
