{% from "utils/_growth_unit_options.html" import render_growth_unit_options %}
{% from "utils/_metabolite_unit_options.html" import render_metabolite_unit_options %}
{% from "utils/_form_errors.html" import render_form_errors %}

{% macro render_upload_form(workspace, errors) %}

  {{ render_form_errors(errors) }}

  <form
      enctype="multipart/form-data"
      class="simple-form flex-column flex-gap-10"
      method="POST">
    <div class="form-row flex-column">
      <h3>Upload CSV</h3>
      <div class="help small">
        Each row is a single observation per time point, each column name will
        be used as the label of a data trace or as the error bar of a data
        trace.
      </div>
    </div>

    <div class="form-row">
      <label>
        <input type="checkbox" name="includeError" value="True" />
        Include error columns
      </label>
    </div>

    <div class="form-row flex-row flex-gap-10">
      <div
          class="js-upload-container flex-1"
          data-preview-url="{{ url_for('workspaces_data_preview_fragment') }}">
        <div class="upload-container js-file-upload">
          <div class="flex-row flex-gap-10">
            <img
                src="{{ url_for('static', filename='images/icons/cloud-upload.svg') }}"
                height="40"
                title="Upload" />
            <div class="instructions">
              <span>Drag and drop data CSV</span>
              <span class="hint small">Limit 200MB per file</span>
            </div>
          </div>

          <input class="small" name="data" accept=".csv" type="file" />
        </div>
      </div>
    </div>

    <div class="form-row preview dataframe-container">
      <div class="dataframe-container full js-preview">
        <table class="dataframe-table full">
          <tr class="smaller">
            <th>Time</th>
            <th>Value 1</th>
            <th class="hidden js-error-column">Value 1 error</th>
            <th>...</th>
            <th>Value N</th>
            <th class="hidden js-error-column">Value N error</th>
            <th>...</th>
          </tr>
          <tr class="smaller">
            <td>...</td>
            <td>...</td>
            <td class="hidden js-error-column">...</td>
            <td>...</td>
            <td>...</td>
            <td class="hidden js-error-column">...</td>
            <td>...</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="form-row flex-column">
      <h3>Metadata</h3>
      <div class="help small">
        Optional, can be set later per individual data trace.
      </div>
    </div>

    <div class="form-row">
      <label class="full">
        <span>Data type</span>
        <select name="dataType" class="form-input-blue form-input-full">
          <option value=""></option>
          <option value="measurement">Observational measurements</option>
          <option value="model">Model predictions</option>
          <option value="other">Other</option>
        </select>
      </label>

      <label class="full">
        <span>Measurement subject type</span>
        <select name="subjectType" class="form-input-blue form-input-full js-subject-type">
          <option value=""></option>
          <option value="community">Microbial community</option>
          <option value="strain">Microbial strain</option>
          <option value="metabolite">Metabolite</option>
        </select>
      </label>
    </div>

    <div class="form-row">
      <label class="full js-no-units">
        <span>Units</span>
        <select name="noUnits" class="form-input-blue form-input-full">
          <option value="">N/A</option>
        </select>
      </label>

      <label class="full hidden js-growth-units">
        <span>Growth units</span>
        <select name="growthUnits" class="form-input-blue form-input-full">
          {{ render_growth_unit_options(selected_units=request.form.get('units'), include_relative=True) }}
        </select>
      </label>

      <label class="full hidden js-metabolite-units">
        <span>Metabolite units</span>
        <select name="metaboliteUnits" class="form-input-blue form-input-full">
          {{ render_metabolite_unit_options(selected_units=request.form.get('units')) }}
        </select>
      </label>

      <input
          type="submit"
          class="green-button flex-end"
          style="padding-left: 30px; padding-right: 30px;"
          value="Upload" />
    </div>
  </form>

  <hr>

  <details class="help small margin-top-10">
    <summary>Example data</summary>

    Here are a few example data files you can try out, taken from
    <a target="_blank" href="/study/SMGDB00000007/">SMGDB00000007</a>:

    <ul>
      <li>
        Growth data with time and value columns:
        <a download href="/static/data/s7_bh1_bt_A.csv">FC live of the bh1_A community</a>
      </li>
      <li>
        Growth data with error bars:
        <a download href="/static/data/s7_bhbtri_bt_average_fc.csv">FC of Bacteroides thetaiotaomicron VPI-5482 in Average(bhbtri)</a>
      </li>
      <li>
        Baranyi-Roberts model of the above:
        <a download href="/static/data/s7_bhbtri_bt_model.csv">Baranyi-Roberts predictions</a>
      </li>
    </ul>
  </details>

  <hr>

  <h3>Create new workspace</h3>

  <form
      method="POST"
      class="simple-form margin-top-10"
      action="{{ url_for('workspaces_create_action') }}">
    <div class="form-row">
      <label>
        <span>Workspace name</span>
        <input required type="text" name="name" class="form-input-blue form-input-full" />
      </label>

      <input maxlength="100" class="flex-end" type="submit" value="Create" />
    </div>
  </form>

  <hr>

  <h3>Clear data</h3>

  <div class="flex-row margin-top-10 flex-gap-10">
    <a
        href="{{ url_for('workspaces_delete_all_action', id=workspace.id) }}"
        class="js-delete-all white-button orange-border flex-1 small">
      <span class="icon icon-inline icon-delete"></span>
      Clear workspace uploads
    </a>

    {% if workspace.name != 'default': %}
      <a
          href="{{ url_for('workspaces_delete_action', id=workspace.id) }}"
          class="js-delete white-button orange-border flex-1 small">
        <span class="icon icon-inline icon-delete"></span>
        Delete entire workspace
      </a>
    {% endif %}
  </div>

{% endmacro %}
