{% from 'pages/workspaces/_workspace_entry_form.html' import render_workspace_entry_form %}
{% from 'utils/_time_tag.html' import time_tag %}

{% macro render_workspace_entry(workspace_entry) %}

  {% set workspace     = workspace_entry.workspace %}
  {% set orcidId       = workspace.user.orcidId %}
  {% set workspaceName = workspace.name %}

  <div class="view-container js-view-container">
    <div class="button-group" style="display: inline-block; margin-right: 6px;">
      <a
          href="{{ url_for('workspaces_visualize_page', orcidId=orcidId, name=workspace.name, lw=workspace_entry.id) }}"
          class="white-button small-button"
          style="vertical-align: bottom"
          data-tooltip="Visualize">
        <span class="flex-row icon icon-chart"></span>
      </a>

      <a
          href="{{ url_for('workspace_entry_csv', id=workspace_entry.id, withLabel=1) }}"
          class="white-button small-button"
          style="vertical-align: bottom"
          download="workspace_entry_{{ workspace_entry.id }}.csv"
          data-tooltip="Download data">
        <span class="flex-row icon icon-download-black"></span>
      </a>
    </div>

    {{ workspace_entry.label }}

    {% if workspace.manageable_by_user(g.current_user): %}
      <div class="actions">
        <button
            class="js-edit white-button small-button smaller">
          <span class="icon icon-inline icon-edit"></span>
          Edit
        </button>
        <a
            href="{{ url_for('workspaces_delete_entry_action', id=workspace_entry.id) }}"
            class="js-delete white-button small-button orange-border smaller">
          <span class="icon icon-inline icon-delete"></span>
          Delete
        </a>
      </div>
    {% endif %}

    <ul class="property-list smaller">
      <li>
        <strong>Data type</strong>:
        {% if workspace_entry.dataType: %}
          {{ workspace_entry.dataType|title }}
        {% else %}
          <em>N/A</em>
        {% endif  %}
      </li>

      <li>
        <strong>Subject</strong>:
        {% if workspace_entry.subjectType: %}
          {{ workspace_entry.subjectType|title }}
        {% else %}
          <em>N/A</em>
        {% endif %}
      </li>

      <li>
        <strong>Units</strong>:
        {% if workspace_entry.units: %}
          {{ workspace_entry.units }}
        {% else %}
          <em>N/A</em>
        {% endif %}
      </li>

      <li>
        <strong>Uploaded:</strong>
        {{ time_tag(workspace_entry.createdAt) }}
      </li>

      {% if workspace_entry.modelingResults: %}
        <li>
          <strong>Model fits:</strong>
          <ul class="model-list">
            {% for modeling_result in workspace_entry.readyModelingResults: %}
              <li>
                <div class="button-group" style="display: inline-block; margin-right: 6px;">
                  <a
                      href="{{ url_for('workspaces_visualize_page', orcidId=orcidId, name=workspace.name, lw=workspace_entry.id, lm=modeling_result.id) }}"
                      class="white-button small-button"
                      style="vertical-align: bottom"
                      data-tooltip="Visualize">
                    <span class="flex-row icon icon-chart"></span>
                  </a>

                  <a
                      href="{{ url_for('model_prediction_csv', id=modeling_result.id, withLabel=1) }}"
                      class="white-button small-button"
                      style="vertical-align: bottom"
                      download="model_prediction_{{ workspace_entry.id }}.csv"
                      data-tooltip="Download data">
                    <span class="flex-row icon icon-download-black"></span>
                  </a>
                </div>
                {{ modeling_result.get_chart_label() }}
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    </ul>
  </div>

  {% if workspace.manageable_by_user(g.current_user): %}
    {{ render_workspace_entry_form(workspace_entry) }}
  {% endif %}

{% endmacro %}
