{% from 'pages/workspaces/_upload_form.html' import render_upload_form %}
{% from 'pages/workspaces/_workspace_entry.html' import render_workspace_entry %}

{% extends '_layout.html' %}

{% block title %}: Workspaces{% endblock %}

{% block head %}
  {% assets "plotly_js" %}
  <script src="{{ ASSET_URL }}" type="text/javascript"></script>
  {% endassets %}
{% endblock %}

{% block content %}
  <div class="container workspaces-page">
    <h1>
      <span class="icon icon-emoji">🖥️</span>
      Workspaces
    </h1>

    <article>
      {% include 'pages/workspaces/_tabs.html' %}

      <p class="help small">
        Upload your growth or modeling data without attaching it to a
        particular study. Go to the "visualize" page to explore it.
      </p>

      <div class="columns flex-row">
        <div class="column column-entries" style="width: 50%;">

          <h3>Direct upload</h3>

          {% if workspace.entries|length == 0: %}
            <p class="help">
              No data uploaded yet
            </p>
          {% else: %}
            <ul class="workspace-entry-list scroll-shadows">
              {% for workspace_entry in workspace.entries: %}
                <li class="js-workspace-entry">
                  {{ render_workspace_entry(workspace_entry) }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          <h3>API data</h3>

          <p class="help">
            You can push data to this page using the
            {{ "https://mgrowthdb.readthedocs.io/en/latest/api.html"|external_link("API") }},
            and it will appear here.
          </p>
        </div>

        <div class="column column-form" style="width: 50%;">
          {% if g.current_user: %}
            {{ render_upload_form(workspace, errors) }}
          {% else: %}
            <p class="warning-message">
              In order to upload and visualize data, please
              <a href="{{ url_for("user_login_page") }}">log in</a>
              to the application using your
              {{ "https://orcid.org/"|external_link("ORCID") }}.
            </p>
          {% endif %}
        </div>
      </div>
    </article>
  </div>
{% endblock %}
