{% from 'pages/workspaces/_chart.html' import render_chart %}

{% extends '_layout.html' %}

{% block title %}: Workspaces{% endblock %}

{% block head %}
  {% assets "plotly_js" %}
  <script src="{{ ASSET_URL }}" type="text/javascript"></script>
  {% endassets %}
{% endblock %}

{% block content %}
  <div class="container workspaces-page">
    <h1>
      <span class="icon icon-emoji">🖥️</span>
      Workspaces
    </h1>

    <article>
      <p class="help">
        Upload your growth or modeling data without attaching it to a
        particular study. Go to the "visualize" page to explore it.
      </p>

      {% if g.current_user: %}
        {% include 'pages/workspaces/_tabs.html' %}

        {{ render_chart(chart) }}
      {% else: %}
        <p class="warning-message">
          In order to upload and visualize data, please
          <a href="{{ url_for("user_login_page") }}">log in</a>
          to the application using your
          {{ "https://orcid.org/"|external_link("ORCID") }}.
        </p>
      {% endif %}
    </article>
  </div>
{% endblock %}
