{% from 'pages/workspaces/visualize/_chart_form.html' import render_chart_form %}

{% extends '_layout.html' %}

{% block title %}: Workspace data visualization{% endblock %}

{% block head %}
  {% assets "plotly_js" %}
  <script src="{{ ASSET_URL }}" type="text/javascript"></script>
  {% endassets %}
{% endblock %}

{% set chart_url = url_for(
  'workspaces_chart_fragment',
  orcidId=workspace.user.orcidId,
  name=workspace.name
) %}

{% block content %}
  <div data-chart-url="{{ chart_url }}" class="container workspaces-visualize-page">
    <div class="flex-row">
      {% include 'pages/workspaces/shared/_header.html' %}
    </div>

    <article>
      {% include 'pages/workspaces/shared/_tabs.html' %}

      {% if g.current_user == workspace.user: %}
        <p class="help small">
          Explore data you've uploaded directly, pushed through the API, or
          collected across studies via the "Compare" button.
        </p>
      {% endif %}

      <form class="simple-form chart-form js-chart-form">
        <div class="columns">
          <div class="controls-column">
            {{ render_chart_form(
              workspace,
              chart_form,
              comparable_records_by_study,
            ) }}
          </div>

          <div class="chart-column">
            <div class="box">
              <div class="chart">
                <div class="chart-placeholder">
                  📊
                </div>
              </div>
            </div>

            <div class="form-row margin-top-10">
              <label class="full">
                <span>Cell count units:</span>
                <select name="cellCountUnits" class="form-input-blue full">
                  <option>Cells/mL</option>
                  <option>Cells/μL</option>
                </select>
              </label>

              <label class="full">
                <span>CFU count units</span>
                <select name="cfuCountUnits" class="form-input-blue full">
                  <option>CFUs/mL</option>
                  <option>CFUs/μL</option>
                </select>
              </label>

              <label class="full">
                <span>Metabolite units:</span>
                <select name="metaboliteUnits" class="form-input-blue full">
                  <optgroup label="Molar concentration">
                    <option value="mM">Millimolars (mM)</option>
                    <option value="μM">Micromolars (μM)</option>
                    <option value="nM">Nanomolars (nM)</option>
                    <option value="pM">Picomolars (pM)</option>
                  </optgroup>
                  <optgroup label="Mass concentration">
                    <option value="g/L">Grams per Liter (g/L)</option>
                    <option value="mg/L">Milligrams per Liter (mg/L)</option>
                  </optgroup>
                </select>
              </label>
            </div>

            <div class="form-row flex-column flex-gap-6 margin-top-10">
              <label>
                <input type="checkbox" name="showStd" {{ "checked" if chart_form.show_std }}>
                Show standard deviation
              </label>
              <label>
                <input type="checkbox" name="showPerturbations" {{ "checked" if chart_form.show_perturbations }}>
                Show perturbations
              </label>
            </div>

            <div class="form-row margin-top-10">
              <p class="help small">
                Tick the left or right checkbox to move a data trace to the
                left or right axis. Use the checkboxes on group headers to move
                entire groups of traces with the same measurement units. If you
                <strong>untick</strong> a checkbox, it will be hidden from the
                chart.
              </p>
            </div>
          </div>
        </div>
      </form>
    </article>
  </div>
{% endblock %}
