{% from 'pages/upload/step3/_community_form.html' import render_community_form %}
{% from 'pages/upload/step3/_strain_form.html' import render_strain_form %}
{% from 'pages/upload/step3/_metabolite_form.html' import render_metabolite_form %}

{% macro render_step3_form(submission_form, upload_form) %}
  <form
      class="simple-form step-form js-step-form"
      action="{{ url_for('upload_step3_page', id=submission_form.submission.id) }}"
      method="POST">

    {{ upload_form.csrf_token }}

    <p>
      For every type of growth measurement you performed, please add a new
      entry by using the buttons below. In a later step, you'll download a data
      template where the rows will each represent a biological replicate, one
      of its compartments, and a time point, and the columns will match the
      measurements from these techniques.
    </p>

    <div class="flex-column flex-gap-10 js-subform-list">
      {% include 'pages/upload/step3/_subform_list.html' %}
    </div>

    <template class="bioreplicate-form">
      {{ render_community_form(data=None) }}
    </template>

    <template class="strain-form">
      {{ render_strain_form(data=None) }}
    </template>

    <template class="metabolite-form">
      {{ render_metabolite_form(submission_form, data=None) }}
    </template>

    <div class="form-row">
      <input type="submit" class="form-input-blue" value="Next" />
      {% include 'pages/upload/_loader.html' %}
    </div>
  </form>

{% endmacro %}
