{% from 'utils/_form_errors.html' import render_form_errors %}
{% from 'pages/upload/step3/_community_form.html' import render_community_form %}
{% from 'pages/upload/step3/_strain_form.html' import render_strain_form %}
{% from 'pages/upload/step3/_metabolite_form.html' import render_metabolite_form %}

{{ render_form_errors(upload_form.error_messages) }}

{#
For every technique, we keep a global counter to determine what number to show
on the form item. The form that has been visually shown third has a number 3
(visual_index).

We also keep a local loop.index0 that determines what its index is within the
"techniques" list, which should be placed in the form so that the subform
updates the same item, e.g. techniques-3-name.

We can't use `for X in Y if Z:`, because otherwise the loop index will not
correspond to the index of the record inside the list.
#}

{% set techniques    = submission_form.submission['studyDesign']['techniques'] %}
{% set counter       = namespace(found=false) %}
{% set counter.index = 0 %}

<div>
  <h3>Community-level growth and pH</h3>

  <p>
    Growth measurements of entire communities of cells within the same vessel
    compartment, or of a property of the compartment (pH).
  </p>
</div>

{% for technique in techniques: %}
  {% if technique['subjectType'] == 'bioreplicate': %}
    {{ render_community_form(data=technique, visual_index=counter.index, data_index=loop.index0) }}
    {% set counter.index = counter.index + 1 %}
  {% endif %}
{% endfor %}

<div class="flex-right flex-row js-button-row">
  <a href="#" class="white-button flex-row js-add-trigger js-add-bioreplicate">
    <span class="icon icon-add"></span> Add community-level measurement
  </a>
</div>

<div>
  <h3>Strain-level growth</h3>

  <p>
    Growth measurements for individiual microbial strains within a compartment.
    Could be measured directly (e.g. via fluorescence), or it could be calculated
    based on relative measurements multiplied by total counts.
  </p>
</div>

{% for technique in techniques: %}
  {% if technique['subjectType'] == 'strain': %}
    {{ render_strain_form(data=technique, visual_index=counter.index, data_index=loop.index0) }}
    {% set counter.index = counter.index + 1 %}
  {% endif %}
{% endfor %}

<div class="flex-right flex-row js-button-row">
  <a href="#" class="white-button flex-row js-add-trigger js-add-strains">
    <span class="icon icon-add"></span> Add strain-level measurement
  </a>
</div>

<div>
  <h3>Metabolites</h3>

  <p>
    Measurements of metabolite concentrations during cell growth. In case you do
    not find a specific metabolite, choose the closest one from the list and
    leave a note in the "Description" field. For more information visit the
    {{ "https://www.ebi.ac.uk/chebi"|external_link("ChEBI website") }}.
  </p>
</div>

{% for technique in techniques: %}
  {% if technique['subjectType'] == 'metabolite': %}
    {{ render_metabolite_form(submission_form, data=technique, visual_index=counter.index, data_index=loop.index0) }}
    {% set counter.index = counter.index + 1 %}
  {% endif %}
{% endfor %}

<div class="flex-right flex-row js-button-row">
  <a href="#" class="white-button flex-row js-add-trigger js-add-metabolites">
    <span class="icon icon-add"></span> Add metabolite measurement
  </a>
</div>
