{% extends '_layout.html' %}

{% block title %}: Export study {{ studyId }}{% endblock %}

{% block content %}
  <div class="container study-page export-page" data-study-id="{{ studyId }}">
    {% include 'pages/studies/_header.html' %}

    <article>
      <h1 class="flex-row flex-gap-10">
        {{ study.name }}

        <span
            class="icon icon-invisible"
            data-tooltip="This study is not published yet. You're seeing this page because you uploaded it, you have permission to manage it, or you're an admin.">
        </span>
      </h1>

      {% include 'pages/studies/_navigation_buttons.html' %}

      <form
          action="{{ url_for('study_export_experiments_fragment', publicId=study.publicId) }}"
          class="simple-form experiment-filter-form margin-top-10 js-filter-form">
        <h2 style="margin-bottom: 0">
          Export options
        </h2>

        <div class="flex-row columns js-export-options-inputs">
          <div class="section-delimiter measurement-inputs">
            <h4>Measurement units</h4>

            <div class="flex-column margin-top-10 flex-gap-6">
              <label>
                <span>Cell count units:</span>
                <select name="cellCountUnits" class="form-input-blue">
                  <option>Cells/mL</option>
                  <option>Cells/μL</option>
                </select>
              </label>

              <label>
                <span>CFU count units:</span>
                <select name="cfuCountUnits" class="form-input-blue">
                  <option>CFUs/mL</option>
                  <option>CFUs/μL</option>
                </select>
              </label>

              <label>
                <span>Metabolite units:</span>
                <select name="metaboliteUnits" class="form-input-blue">
                  <optgroup label="Molar concentration">
                    <option value="mM">Millimolars (mM)</option>
                    <option value="μM">Micromolars (μM)</option>
                    <option value="nM">Nanomolars (nM)</option>
                    <option value="pM">Picomolars (pM)</option>
                  </optgroup>
                  <optgroup label="Mass concentration">
                    <option value="g/L">Grams per Liter (g/L)</option>
                    <option value="mg/L">Milligrams per Liter (mg/L)</option>
                  </optgroup>
                </select>
              </label>
            </div>
          </div>

          <div class="section-delimiter">
            <h4>CSV Delimiter</h4>

            <div class="flex-column margin-top-10">
              <label>
                <input type="radio" name="delimiter" value="comma" checked />
                Comma
              </label>

              <label>
                <input type="radio" name="delimiter" value="tab" />
                Tab
              </label>

              <label>
                <input type="radio" name="delimiter" value="custom" />

                Custom

                <input
                    type="text"
                    name="custom_delimiter"
                    value="|"
                    maxlength="1"
                    class="form-input-blue" />
              </label>
            </div>
          </div>

          <div class="section-delimiter">
            <h4>Extra information</h4>

            <div class="flex-column margin-top-10">
              <label>
                <input type="checkbox" name="includeStd" value="True" />
                Include STD
              </label>
            </div>
          </div>
        </div>

        <h2 style="margin-bottom: 0">
          Filter experiments
        </h2>

        <div class="form-row full">
          <label class="full">
            <span>By text:</span>
            <input
                type="text"
                name="q"
                tabindex="1"
                autocomplete="off"
                value="{{ request.args.get('q') or '' }}"
                placeholder="Text included in the experiment"
                class="form-input-full form-input-blue" />
          </label>

          <input class="flex-end" type="submit" value="🔍 Search" />
          <input class="flex-end white-button js-reset" type="button" value="🧹 Clear" />
        </div>

        <div class="form-row full">
          {% if study.strains: %}
            <label class="flex-1">
              <span>By microbial strain:</span>
              <select
                  tabindex="2"
                  name="strainIds"
                  multiple="multiple"
                  class="strain-select js-strain-select">
                {% for study_strain in study.strains: %}
                  <option value="{{ study_strain.id }}">{{ study_strain.name }} (NCBI:{{ study_strain.taxon.ncbiId }})</option>
                {% endfor %}
              </select>
            </label>
          {% endif %}

          {% if study.metabolites: %}
            <label class="flex-1">
              <span>By metabolite:</span>
              <select
                  tabindex="3"
                  name="metaboliteIds"
                  multiple="multiple"
                  class="metabolite-select js-metabolite-select">
                {% for metabolite in study.metabolites: %}
                  <option value="{{ metabolite.id }}">{{ metabolite.name }} ({{ metabolite.chebiId }})</option>
                {% endfor %}
              </select>
            </label>
          {% endif %}

          {% if study_model_types: %}
            <label class="flex-1">
              <span>With model predictions:</span>
              <select
                  name="modelingTypes"
                  multiple="multiple"
                  tabindex="4"
                  class="form-input-blue form-input-full js-modeling-type-select">
                {% if 'easy_linear' in study_model_types: %}
                  <option value="easy_linear">"Easy linear" method</option>
                {% endif %}
                {% if 'logistic' in study_model_types: %}
                  <option value="logistic">Logistic model</option>
                {% endif %}
                {% if 'baranyi_roberts' in study_model_types: %}
                  <option value="baranyi_roberts">Baranyi-Roberts model</option>
                {% endif %}

                {% if study.customModels: %}
                  {% for m in study.customModels:  %}
                    <option
                        {{ "selected" if m.id == selectedCustomModelId }}
                        value="custom_{{ m.id }}"
                        data-custom-model-id="{{ m.id }}">
                    {{ m.name }}
                    </option>
                  {% endfor %}
                {% endif %}
              </select>
            </label>
          {% endif %}
        </div>
      </form>

      <form
          class="simple-form js-experiment-form"
          action="{{ url_for('study_download_data_zip', publicId=studyId) }}"
          method="POST">
        <h2>
          Loading export form

          <img
              class="inline-loader-image loader-image"
              style="width: 22px; height: 22px;"
              src="{{ url_for('static', filename="images/loader.svg") }}" />
        </h2>
      </form>
    </article>
  </div>
{% endblock %}
