{% from 'utils/_dataframe.html' import render_dataframe %}
{% from 'utils/_time_tag.html' import time_tag %}
{% from 'utils/_strain_link.html' import render_strain_link %}
{% from 'utils/_post_button.html' import post_button %}
{% from 'pages/studies/_experiments_toc.html' import render_experiments_toc %}
{% from 'pages/experiments/_bioreplicates_list.html' import render_bioreplicates_list %}
{% from 'pages/perturbations/_perturbation.html' import render_perturbation %}

{% extends '_layout.html' %}

{% block title %}: Study {{ study.publicId }}{% endblock %}

{% block content %}
  <div class="container study-page">
    {% include 'pages/studies/_header.html' %}

    <article>
      <h1 class="flex-row flex-gap-10">
        {{ study.name }}

        {% if not study.isPublished: %}
          <span
              class="icon icon-invisible"
              data-tooltip="This study is not published yet. You're seeing experimental details on this page because you uploaded it, you have permission to manage it, or you're an admin.">
          </span>
        {% endif %}
      </h1>

      {% include 'pages/studies/_navigation_buttons.html' %}

      <h2>Basic information</h2>

      {% if study.url: %}
        <p class="small">
          <strong>Publication</strong>: {{ study.url|external_link }}

          {% if study.authors: %}
            by {{ study.authors|author_link_list(limit=10) }}
          {% endif %}

        </p>
      {% endif %}

      <p class="small">
        <strong>Uploaded on</strong>
        {{ time_tag(study.createdAt, format="%Y-%m-%d") -}}
        {% if study.owner: %}
          by
          {{ study.owner.orcidUrl|external_link(study.owner.name) }}
        {% endif %}
        <br>

        <strong>Last update</strong>:
        {{ time_tag(study.updatedAt, format="%Y-%m-%d") }}
        <br>
      </p>

      {% if study.description: %}
        {{ study.description|format_text }}
      {% endif %}

      <h2>Measurement techniques</h2>

      <p>
        <ol>
          {% for technique in study.studyTechniques: %}
            <li>
              <strong>
                {{ technique.long_name_with_subject_type }}
                {% if technique.units != '' %}
                  in {{ technique.units }}
                {% endif %}
              </strong>
              {% if technique.type in ('fc', 'od', 'plates', '16s', 'metabolite'): %}
                <span class="smaller">
                  {{ "measurement-techniques"|help_link(text="ℹ️ Info", section=technique.type, css_class="white-button small-button") }}
                </span>
              {% endif %}
              {% if technique.description != '': %}
                <div class="small">
                  {{ technique.description }}
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ol>
      </p>

      {% set model_info_list = study.get_model_info_list() %}

      {% if model_info_list: %}
        <h2>Modeling techniques</h2>

        <p>
          <ol>
            {% for model_info in model_info_list: %}
              <li>
                <strong>{{ model_info.name }}</strong>

                <span class="smaller">
                  {% if not model_info.is_custom: %}
                    {{ "modeling-techniques"|help_link(text="ℹ️ Info", section=model_info.type, css_class="white-button small-button") }}
                  {% elif model_info.url: %}
                    {{ model_info.url|external_link(text="ℹ️ Info", css_class="white-button small-button") }}
                  {% endif %}
                </span>

                {% if model_info.description != '': %}
                  <div class="small">{{ model_info.description }}</div>
                {% endif %}

                {% if model_info.params.get('coefficients'): %}
                  <div class="small model-parameters">
                    <strong>Parameters</strong>:
                    {{ model_info.params['coefficients']|map(attribute="name_html")|join(', ')|safe }}
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ol>
        </p>

        <div>
          {{ post_button(
            "Download model parameters",
            url_for('modeling_params_csv', publicId=study.publicId),
            class="small"
          ) }}
        </div>
      {% endif %}

      <div class="flex-row">
        <div class="experiments full">
          {% for experiment in study.experiments: %}
            <div class="experiment-container">
              <h2 id="experiment-{{ experiment.publicId }}">
                Experiment {{ loop.index }}: {{ experiment.name }}
              </h2>

              {% if experiment.publicId: %}
                <p class="small">
                  <strong>Public ID</strong>:
                  <a href="{{ url_for('experiment_show_page', publicId=experiment.publicId) }}">
                    {{ experiment.publicId }}
                  </a>
                  <br>
                </p>
              {% endif %}

              {% if experiment.description: %}
                {{ experiment.description|format_text }}
              {% endif %}

              <br>

              <h3>Compartments</h3>

              <ol>
                {% for compartment in experiment.compartments: %}
                  <li>
                    <strong>{{ compartment.name }}</strong>

                    <br>

                    Medium:
                    {% if compartment.mediumUrl: %}
                      {{ compartment.mediumUrl|external_link(compartment.mediumName) }}
                    {% else: %}
                      {{ compartment.mediumName }}
                    {% endif %}

                    <br>

                    Properties: {{ compartment.properties_description|safe }}
                  </li>
                {% endfor %}
              </ol>

              <h3>Community: {{ experiment.community.name }}</h3>

              <ol>
                {% for strain in experiment.community.strains|sort: %}
                  <li>{{ render_strain_link(strain) }}</li>
                {% endfor %}
              </ol>

              {% if experiment.perturbations|length > 0: %}
                <h3>Perturbations</h3>

                <ol>
                  {% for perturbation in experiment.perturbations: %}
                    <li>{{ render_perturbation(perturbation, link=True) }}</li>
                  {% endfor %}
                </ol>
              {% endif %}

              <h3>Biological replicates</h3>

              {{ render_bioreplicates_list(experiment) }}
            </div>
          {% endfor %}
        </div>

        <div class="toc-container">
          {{ render_experiments_toc(study.experiments) }}
        </div>
      </div>
    </article>
  </div>
{% endblock %}
