# Copy this file as ".env" and fill in the environment variables

MGROWTHDB_SECRET_KEY="<long random string>"
MGROWTHDB_ORCID_CLIENT_ID="<publicly visible, get from ORCID app>"
MGROWTHDB_ORCID_SECRET="<secret, get from ORCID app>"

# For production deployments behind proxies. Increment by 1 for every proxy
# with an "X-Forwarded-For" flag:
MGROWTHDB_IP_FORWARDING="0"

REDIS_HOST=localhost
REDIS_PORT=6379
