# Ignore __pycache__ globally:
__pycache__

# Ignore route dump used for tooling purposes and other Vim stuff:
.flask_tools.json
.projections.json
_project.vim

# Ignore _build from readthedocs when run locally
docs/_build/

# Ignore AutoAPI specific output (if necessary)
docs/api/

# Ignore var/ directory where the running process can store things
var/*
!var/backups/.keep
!var/external_data/.keep
!var/mysql/.keep

# Configuration contains passwords, copy config/database.toml.example:
db/config.toml

# Compiled assets:
static/build/*
static/.webassets-cache/*
static/export/*
!static/export/README.txt

# Micromamba environment
.micromamba/*

# Test coverage data
.coverage

# Environment configuration
.env
