{% macro render_chart_form(workspace, form, comparable_measurement_contexts, comparable_modeling_results) %}

  {% set selectedSourceType = request.args.get('selectedSourceType', '') %}

  <div class="form-row">
    <label>
      <span>Data source:</span>
      <select name="sourceType" class="form-input-blue full js-data-source">
        {% for source_type, label in [('upload', 'Direct upload'), ('api', 'API'), ('compare', 'Compare')]: %}
          <option
              {{ "selected" if source_type == selectedSourceType }}
              value="{{ source_type }}">
            {{ label }}
          </option>
        {% endfor %}
      </select>
    </label>
  </div>

  <div class="trace-group js-trace-group">
    {% for source_type in ['upload', 'api']: %}
      {% for workspace_entry in workspace.entries if workspace_entry.sourceType == source_type: %}
        {% set key = "workspaceEntry|{}".format(workspace_entry.id) %}

        <div
            class="form-row hidden js-trace-row"
            data-source-type="{{ source_type }}">
          <input
              type="checkbox"
              name="{{ key }}"
              id="{{ key }}"
              {{ "checked" if workspace_entry.id in form.workspace_entry_ids }}
              {{ "data-axis-left" if workspace_entry.id in form.left_axis_workspace_ids }}
              {{ "data-axis-right" if workspace_entry.id in form.right_axis_workspace_ids }}
              class="js-measurement-toggle" />
          <label for="{{ key }}">
            {{ workspace_entry.label }}
          </label>
        </div>
      {% endfor %}
    {% endfor %}
  </div>

  <div class="trace-group js-trace-group">
    {% for measurement_context in comparable_measurement_contexts: %}
      {% set key = "measurementContext|{}".format(measurement_context.id) %}

      <div
          class="form-row hidden js-trace-row"
          data-source-type="compare">
        <input
            type="checkbox"
            name="{{ key }}"
            id="{{ key }}"
            {{ "checked" if measurement_context.id in form.measurement_context_ids }}
            {{ "data-axis-left" if measurement_context.id in form.left_axis_ids }}
            {{ "data-axis-right" if measurement_context.id in form.right_axis_ids }}
            class="js-measurement-toggle" />
        <label for="{{ key }}">
          {{ measurement_context.get_chart_label() }}
        </label>
      </div>
    {% endfor %}

    {% for modeling_result in comparable_modeling_results: %}
      {% set key = "modelingResult|{}".format(modeling_result.id) %}

      <div
          class="form-row hidden js-trace-row"
          data-source-type="compare">
        <input
            type="checkbox"
            name="{{ key }}"
            id="{{ key }}"
            {{ "checked" if modeling_result.id in form.modeling_result_ids }}
            {{ "data-axis-left" if modeling_result.id in form.left_axis_model_ids }}
            {{ "data-axis-right" if modeling_result.id in form.right_axis_model_ids }}
            class="js-measurement-toggle" />
        <label for="{{ key }}">
          {{ modeling_result.get_chart_label() }}
        </label>
      </div>
    {% endfor %}
  </div>

  <div class="form-row margin-top-10 small">
    <a href="#" class="white-button small-button flex-right js-clear-chart">
      🧹 Clear chart
    </a>
  </div>

{% endmacro %}
