{% extends '_layout.html' %}

{% block content %}
  <div class="container">
    <article>
      <h1>🛠 Applications</h1>

      <p>
        Here, you can find a list of applications that use data imported from
        mGrowthDB. These are third-party projects, listed as-is without
        endorsement. If you know of a project that integrates with mGrowthDB
        that is not shown here, consider
        <a href="{{ url_for('static_about_page') }}">reaching out to us</a>
        to let us know.
      </p>

      <div class="flex-row margin-top-10" style="flex-wrap: wrap; gap: 20px;">
        {% for demo_project in demo_projects: %}
          <div class="box" style="width: 30%">
            {% if demo_project.logoFilename: %}
              <img src="/static/upload/{{ demo_project.logoFilename }}" />
            {% endif %}
            <h2>{{ demo_project.url|external_link(demo_project.name) }}</h2>
            <p>
              {{ demo_project.description }}
            </p>
          </div>
        {% endfor %}
      </div>
    </article>
  </div>
{% endblock %}
