{% extends '_layout.html' %}

{% block content %}
  <header>
    <img
        width="640"
        height="200"
        title="mGrowthDB logo"
        src="{{ url_for('static', filename='images/logo.png') }}" />
  </header>

  <div class="homepage container">
    <article>
      <h2>Welcome to mGrowthDB{% if g.current_user: %}, {{ g.current_user.name }}{% endif %}</h2>

      <p>
        mGrowthDB is a relational database that provides a structure to store
        different types of microbial growth data. Our main objective is to
        serve as a comprehensive resource for researchers interested in
        studying the growth dynamics of microbial species by providing access
        to growth projects and studies uploaded by other researchers.
      </p>

      <div class="heading">
        <div style="font-size: 14px; float: right">
          {{ "searching"|help_link("❓ Help", css_class="white-button small-button") }}
        </div>

        <h3>
          <a href="{{ url_for('search_index_page') }}">
            Search for growth studies
          </a>
        </h3>
      </div>

      <p>
        Users can search for experimental data collected from microbial growth
        studies based on the study or project name. The search can be filtered
        by different experimental conditions and characteristics like the
        microbial strains or metabolites that were analyzed in the study.
        All of the data at mGrowthDB is publicly available for everyone:
      </p>

      <div class="stats-table">
        <div class="column">
          <div class="illustration">
            <img
                height="100"
                alt="Illustration of document binders"
                src="{{ url_for("static", filename="images/large-icons/paperwork.png") }}" />
          </div>

          <div class="info">
            <strong>{{ study_count|humanize_number }}</strong>
            uploaded studies with
            <br>
            <strong>{{ experiment_count|humanize_number }}</strong> experiments between them.
          </div>
        </div>

        <div class="column">
          <div class="illustration">
            <img
                height="100"
                alt="Illustration of a chart shown on a laptop"
                src="{{ url_for("static", filename="images/large-icons/business-chart.png") }}" />
          </div>

          <div class="info">
            <strong>{{ measurement_count|humanize_number }}</strong>
            individual observations available for visualization, comparison, or download.
          </div>
        </div>

        <div class="column">
          <div class="illustration">
            <img
                height="100"
                alt="Illustration of a group of bacteria"
                src="{{ url_for("static", filename="images/large-icons/bacteria_cropped.png") }}" />
          </div>

          <div class="info">
            <strong>{{ taxa_count|humanize_number }}</strong>
            taxa imported from NCBI,
            <strong>{{ study_strain_count|humanize_number }}</strong> strains measured in uploaded studies.

            {% if last_ncbi_update: %}
              <p class="help">
                Last updated on <strong>{{ last_ncbi_update }}</strong>.
              </p>
            {% endif %}
          </div>
        </div>

        <div class="column">
          <div class="illustration">
            <img
                height="100"
                alt="Illustration of trehalose"
                src="{{ url_for("static", filename="images/large-icons/trehalose_cropped.png") }}" />
          </div>

          <div class="info">
            <strong>{{ metabolite_count|humanize_number }}</strong>
            metabolites imported from ChEBI,
            <strong>{{ study_metabolite_count|humanize_number }}</strong> measured in uploaded studies.

            {% if last_chebi_update: %}
              <p class="help">
                Last updated on <strong>{{ last_chebi_update }}</strong>.
              </p>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="heading">
        <div style="font-size: 14px; float: right">
          {{ "upload-process"|help_link("❓ Help", css_class="white-button small-button") }}
        </div>

        <h3>
          <a href="{{ url_for('upload_status_page') }}">
            Upload your project
          </a>
        </h3>
      </div>

      <p>
        At mGrowthDB, we recognize the invaluable contributions of researchers
        in advancing our understanding of microbial dynamics. Sharing growth
        data publicly plays a crucial role in increasing scientific progress
        and collaboration within the research community. We allow researchers
        to authenticate themselves using
        {{ "https://orcid.org/"|external_link("ORCID") }}
        and upload their experimental data by following a step-by-step process
        that ensures it fits a standardized structure.
      </p>

      <div class="heading">
        <div style="font-size: 14px; float: right">
          {{ "study-pages"|help_link("❓ Help", css_class="white-button small-button") }}
        </div>

        <h3>Visualize, analyze, and download growth data</h3>
      </div>

      <p>
        Visitors can visualize the growth of microbial cultures within or
        across experiments in any published study. They can also collect data
        traces in different studies and investigate them in our
        "<a href="{{ url_for('comparison_show_page') }}">Comparison view</a>".
      </p>

      <p>
        Study owners can fit select growth models to their data through the web interface, courtesy of the
        {{ "https://cran.r-project.org/web/packages/growthrates/"|external_link("growthrates R package") }}.
        Growth parameters can be downloaded in CSV format.
      </p>

      <p>
        For further analysis, the raw data can be downloaded from studies'
        "export" pages. A batch data dump is available as well with the raw
        study design and uploaded data files:
        <a href="/static/export/">Batch export</a>.
      </p>
    </article>
  </div>
{% endblock %}
