{% extends '_layout.html' %}

{% block content %}
  <header>
    <img
        height="90"
        title="mGrowthDB logo"
        src="{{ url_for('static', filename='images/logo_wide.png') }}" />
  </header>

  <div class="homepage container">
    <article>
      <h2>Welcome to mGrowthDB{% if g.current_user: %}, {{ g.current_user.name }}{% endif %}</h2>

      <p>
        mGrowthDB is a relational database that provides a structure to store
        different types of <strong>microbial growth data</strong>. Our main
        objective is to serve as a comprehensive resource for scientists
        interested in studying the growth dynamics of microbial species by
        providing access to growth projects and studies uploaded by other
        researchers.
      </p>

      <div class="heading">
        <div style="font-size: 14px; float: right">
          {{ "searching"|help_link("❓ Help", css_class="white-button small-button") }}
        </div>

        <h3>
          <a href="{{ url_for('search_index_page') }}">
            Search for growth studies
          </a>
        </h3>
      </div>

      <p>
        Users can search for experimental data based on the name of the study
        or its authors. The search can be filtered by the microbial strains or
        metabolites that were analyzed in the study. All of the data at
        mGrowthDB is publicly available for everyone:
      </p>

      <div class="stats-table">
        <div class="column">
          <div class="illustration">
            <img
                height="100"
                alt="Illustration of a chart shown on a laptop"
                src="{{ url_for("static", filename="images/large-icons/business-chart.png") }}" />
          </div>

          <div class="info">
            <strong>{{ measurement_context_count|humanize_number }}</strong>
            data traces available for visualization, comparison, or download, measured across
            <strong>{{ experiment_count|humanize_number }}</strong> uploaded experiments.
          </div>
        </div>

        <div class="column">
          <div class="illustration">
            <img
                height="100"
                alt="Illustration of a group of bacteria"
                src="{{ url_for("static", filename="images/large-icons/bacteria_cropped.png") }}" />
          </div>

          <div class="info">
            <strong>{{ taxa_count|humanize_number }}</strong>
            taxa imported from NCBI,
            <strong>{{ study_strain_count|humanize_number }}</strong> strains measured in uploaded studies.

            {% if last_ncbi_update: %}
              <p class="help">
                Last updated on <strong>{{ last_ncbi_update }}</strong>.
              </p>
            {% endif %}
          </div>
        </div>

        <div class="column">
          <div class="illustration">
            <img
                height="100"
                alt="Illustration of trehalose"
                src="{{ url_for("static", filename="images/large-icons/trehalose_cropped.png") }}" />
          </div>

          <div class="info">
            <strong>{{ metabolite_count|humanize_number }}</strong>
            metabolites imported from ChEBI,
            <strong>{{ study_metabolite_count|humanize_number }}</strong> measured in uploaded studies.

            {% if last_chebi_update: %}
              <p class="help">
                Last updated on <strong>{{ last_chebi_update }}</strong>.
              </p>
            {% endif %}
          </div>
        </div>

        <div class="column">
          <div class="illustration">
            <img
                height="100"
                alt="Illustration of document binders"
                src="{{ url_for("static", filename="images/large-icons/paperwork.png") }}" />
          </div>

          <div class="info">
            <strong>{{ help_topic_words|humanize_number }}</strong> words of
            <a href="{{ url_for('help_index_page') }}">support documentation</a> for data entry and usage,
            and over <strong>80</strong> minutes of
            {{ "https://www.youtube.com/@mgrowthdb"|external_link("video tutorials") }}.
          </div>
        </div>
      </div>

      <p>
        The individual data traces can be downloaded from the study homepages,
        or exported in batches using customizable export forms. Users with
        programming experience can use our granular
        <a href="https://mgrowthdb.readthedocs.io/en/latest/api.html">API interface</a>
        to integrate it with their own software.
        A batch data dump is available as well with the raw study design and
        uploaded data files:
        <a href="/static/export/">Batch export</a>.
      </p>

      <div class="heading">
        <div style="font-size: 14px; float: right">
          {{ "upload-process"|help_link("❓ Help", css_class="white-button small-button") }}
        </div>

        <h3>
          <a href="{{ url_for('upload_status_page') }}">
            Upload your study
          </a>
        </h3>
      </div>

      <p>
        We encourage researchers to authenticate themselves using
        {{ "https://orcid.org/"|external_link("ORCID") }}
        and upload their experimental data by following a step-by-step process
        that ensures it fits a standardized structure. Sharing growth data
        publicly plays a crucial role in increasing scientific progress and
        collaboration within the research community. If your data is published
        in a paper or pre-print, you can provide a DOI to let us pre-fetch some
        of the metadata for you, including authorship and licensing
        information. Here are a few example studies that showcase the variety
        of data in mGrowthDB:
      </p>

      <ul>
        <li>
          <a href="{{ url_for('study_show_page', publicId="SMGDB00000005") }}">SMGDB00000005</a>:
          An examination of microbial community stable states by
          {{ "http://msysbiology.com/"|external_link("Faust lab") }}
          using perturbation experiments.
        </li>

        <li>
          <a href="{{ url_for('study_show_page', publicId="SMGDB00000013") }}">SMGDB00000013</a>:
          A study by
          {{ "https://wp.unil.ch/mitrilab/"|external_link("Mitri lab") }}
          about bacterial degradation of metal working fluids, leading to
          insights about positive inter-community interactions.
        </li>

        <li>
          <a href="{{ url_for('study_show_page', publicId="SMGDB00000015") }}">SMGDB00000015</a>:
          An investigation of microbial species relevant to the human
          respiratory tract and their community dynamics by the
          {{ "http://www.gorelab.org/"|external_link("Gore lab") }} in MIT.
        </li>

        <li>
          <a href="{{ url_for('study_show_page', publicId="SMGDB00000025") }}">SMGDB00000025</a>:
          Data on the impact of carbohydrates of human gut bacteria with a
          focus on <em>C. difficile</em> strains. A collaborative study between
          {{ "https://gibbons.isbscience.org/"|external_link("Gibbons lab") }}
          and
          {{ "https://www.venturellilab.org/"|external_link("Venturelli lab") }}.
        </li>
      </ul>

      <p>
        Learn more about uploading your data in our
        <a href="{{ url_for('help_show_page', name='upload-process') }}">documentation</a>
        or check out our
        {{ "https://www.youtube.com/playlist?list=PLt4q_h8pw5qfMb5fL-UCSf3SNjhR-Ld4a"|external_link("video tutorial") }}.
      </p>

      <div class="heading">
        <div style="font-size: 14px; float: right">
          {{ "study-pages"|help_link("❓ Help", css_class="white-button small-button") }}
        </div>

        <h3>Visualize and analyze growth data</h3>
      </div>

      <div class="clear"></div>

      <div class="study-example-container margin-top-10">
        <ul class="study-example-text">
          <li class="js-example-1 focus">
            <button class="green-button small-button small">&rarr;</button>
            Visitors can visualize the growth of microbial cultures within or
            across experiments in any published study. They can also collect data
            traces from different studies and investigate them in our
            "<a href="{{ url_for('comparison_show_page') }}">Comparison view</a>".
            If provided, metabolites and pH measurements can be plotted along
            with cell abundances for additional insights.
          </li>

          <li class="js-example-2">
            <button class="white-button small-button small">&rarr;</button>
            Study owners can fit selected growth models to their data through
            the web interface, courtesy of the
            {{ "https://cran.r-project.org/web/packages/growthrates/"|external_link("growthrates R package") }}.
            Custom model predictions can be uploaded and attached to the data
            traces for the benefit of other researchers. Growth parameters can
            be downloaded in CSV format.
          </li>

          <li class="js-example-3">
            <button class="white-button small-button small">&rarr;</button>
            In case you wish to explore your data without uploading it to a study
            or simply test the visualization and model-fitting interfaces, you
            can try the
            <a href="{{ url_for('workspaces_root_page') }}">Workspace</a> pages,
            where you can experiment freely. The uploaded data will be private
            by default, or you can make it visible and share it with colleagues.
          </li>
        </ul>

        <div class="study-example-images">
          <img
              title="Example of visualization of a study's data"
              class="example example1 js-example-1 focus"
              src="{{ url_for('static', filename='images/home/example1.png') }}" />
          <img
              title="Example of a model-fitting chart"
              class="example example2 js-example-2"
              src="{{ url_for('static', filename='images/home/example2.png') }}" />
          <img
              title="Demonstration of the workspace upload form"
              class="example example3 js-example-3"
              src="{{ url_for('static', filename='images/home/example3.png') }}" />
        </div>
      </div>

      <div class="heading">
        <h3>Learn more about mGrowthDB</h3>

        <p>
          To know more about the project, you can read our
          {{ "https://www.biorxiv.org/content/10.1101/2025.10.13.682118v1"|external_link("pre-print in bioRxiv") }},
          check out the database's record in
          {{ "https://doi.org/10.25504/FAIRsharing.de8ed6"|external_link("FAIRsharing.org") }},
          or explore the videos in our
          {{ "https://www.youtube.com/@mgrowthdb"|external_link("YouTube channel") }}.
        </p>

        <p>
          If you'd like to contribute to the development of the project, you'll
          find installation instructions on our GitHub repository,
          {{ "https://github.com/msysbio/bacterial_growth"|external_link("msysbio/bacterial_growth") }},
          or the active-development fork at {{ "https://github.com/AndrewRadev/mgrowthdb"|external_link("AndrewRadev/mgrowthdb") }},
          though the most comprehensive source of information for this purpose
          is the developer documentation at
          {{ "https://mgrowthdb.readthedocs.io/en/latest/"|external_link("ReadTheDocs") }}.
        </p>
      </div>
    </article>
  </div>
{% endblock %}
