{% macro render_step1_form(submission_form, submission) %}
  <form
      method="POST"
      action="{{ url_for('upload_step1_page', id=submission.id) }}"
      class="simple-form">

    {% if submission_form.errors: %}
      <ul class="error-message-list">
        {% for message in submission_form.error_messages(): %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <div>
      <h3>Publication (optional)</h3>

      <p class="help small">
        If your data is published, please enter a DOI and click "fetch authors",
        so we can detect the authors of the study. You can also update this
        later in a follow-up submission.
      </p>
    </div>

    <div class="form-row">
      <label class="full">
        <span>Study publication DOI:</span>
        <input
            type="url"
            name="study_url"
            value="{{ submission.studyDesign['study']['url'] or '' }}"
            class="form-input-full form-input-blue {{ "error" if submission_form.has_error('study_name') }}"
            placeholder="Example: https://doi.org/10.1000/182" />
      </label>

      <div class="no-label">
        <button type="button" class="green-button js-fetch-authors">
          Fetch information
        </button>
      </div>
    </div>

    <div class="js-authors">
      {% set authors = submission.studyDesign['study']['authors'] or [] %}
      {% set authorCache = submission.studyDesign['study']['authorCache'] or '' %}
      {% include 'pages/upload/step1/_authors.html' %}
    </div>

    <div>
      <h3>Study</h3>

      <p class="help small">
        Your study should describe a focused investigation on a particular
        research question. Each study may have contain multiple experiments
        described in later steps. Select one from the list to update the
        existing information.
      </p>
    </div>

    <div class="form-row">
      <label class="flex-1">
        <span>Existing study:</span>
        <select
            name="study_uuid"
            id="study_uuid"
            class="form-input-blue form-input-full js-study-select">
          <option
              value="_new"
              data-name="{{ submission.studyDesign['study']['name'] or '' }}"
              data-description="{{ submission.studyDesign['study']['description'] or '' }}">
            New study
          </option>

          {% for study in g.current_user.managedStudies: %}
            <option
                value="{{ study.uuid }}"
                {{ "selected" if study.uuid == submission.studyUniqueID }}
                data-name="{{ study.name }}"
                data-description="{{ study.description or '' }}"
                data-project-uuid="{{ study.projectUuid }}">
              [{{ study.publicId }}] {{ study.name|truncate(50) }}
            </option>
          {% endfor %}
        </select>
      </label>

      <label class="flex-2">
        <span class="required">Study name:</span>
        <input
            type="text"
            name="study_name"
            required
            maxlength=250
            value="{{ submission.studyDesign['study']['name'] or '' }}"
            class="form-input-full form-input-blue {{ "error" if submission_form.has_error('study_name') }}"
            placeholder="Example: Cultivation of Bacterial Strains A, B and C" />
      </label>
    </div>

    <div class="form-row">
      <label class="flex-1">
        <span>Study description:</span>
        <textarea
            name="study_description"
            placeholder="Example: Bacterial strains A, B, and C were growth in conditions D and E. Co-cultures and monocultures of each strains were studied. Growth, pH, metabolites were measured with F, G and H methods."
            class="form-input-full form-input-blue">{{ submission.studyDesign['study']['description'] or '' }}</textarea>
      </label>

      <label class="flex-1">
        <span>Preview:</span>
        <div class="box text-preview js-study-preview">
          {% set text = submission.studyDesign['study']['description'] or '' %}
          {% include 'pages/upload/step1/_preview.html' %}
        </div>
      </label>
    </div>

    <div>
      <h3>Project</h3>

      <p class="help small">
        A project groups multiple studies together. You can start a new project
        or select an existing one. This name must be unique across our
        database.
      </p>
    </div>

    <div class="form-row">
      <label class="flex-1">
        <span>Existing project:</span>
        <select
            name="project_uuid"
            id="project_uuid"
            class="form-input-blue form-input-full js-project-select">
          <option
              value="_new"
              data-name="{{ submission.studyDesign['project']['name'] or '' }}"
              data-description="{{ submission.studyDesign['project']['description'] or '' }}">
            New project
          </option>

          {% for project in g.current_user.managedProjects: %}
            <option
                value="{{ project.uuid }}"
                {{ "selected" if project.uuid == submission.projectUniqueID }}
                data-name="{{ project.name }}"
                data-description="{{ project.description or '' }}"
                data-study-uuids='{{ project.studyUuids|tojson }}'>
              [{{ project.publicId }}] {{ project.name|truncate(50) }}
            </option>
          {% endfor %}
        </select>
      </label>

      <label class="flex-2">
        <span class="required">Project name:</span>
        <input
            type="text"
            name="project_name"
            required
            maxlength=250
            value="{{ submission.studyDesign['project']['name'] or '' }}"
            class="form-input-full form-input-blue {{ "error" if submission_form.has_error('project_name') }}"
            placeholder="Example: A flexible Pipeline for Environmental DNA Metabarcoding Analysis..." />
      </label>
    </div>

    <div class="form-row">
      <label class="flex-1">
        <span>Project description:</span>
        <textarea
            name="project_description"
            placeholder="Description of the studies collected in this project."
            class="form-input-full form-input-blue">{{ submission.studyDesign['project']['description'] or '' }}</textarea>
      </label>

      <label class="flex-1">
        <span>Preview:</span>
        <div class="box text-preview js-project-preview">
          {% set text = submission.studyDesign['project']['description'] or '' %}
          {% include 'pages/upload/step1/_preview.html' %}
        </div>
      </label>
    </div>

    <div>
      <h3>Additional options</h3>
    </div>

    <div class="form-row">
      <label class="flex-1">
        <span>Embargo date (UTC):</span>
        <input
            type="date"
            min="{{ g.now.strftime("%Y-%m-%d") }}"
            name="embargo_expires_at"
            value="{{ submission.studyDesign['study']['embargoExpiresAt'] or '' }}"
            class="form-input-full form-input-blue {{ "error" if submission_form.has_error('embargo_expires_at') }}" />

        <div class="help margin-top-10">
          Once you upload your study, a record will appear on μGrowthDB but
          not your data. You must <strong>explicitly</strong> publish it to make it
          publicly available. If you set an embargo date, a short message
          will inform visitors of the expected publication date.
        </div>
      </label>

      <label class="flex-1">
        <span>Reuse study design from a previous study:</span>

        <select
            name="reuse_study_uuid"
            id="reuse_study_uuid"
            class="form-input-blue form-input-full">
          <option value="">
          </option>
          {% for study in g.current_user.managedStudies: %}
            <option value="{{ study.uuid }}">
              [{{ study.publicId }}] {{ study.name|truncate(50) }}
            </option>
          {% endfor %}
        </select>

        <div class="help margin-top-10">
          If you choose a previous study, the following steps will be
          pre-populated with the same strains, metabolites, etc. You might be
          able to save some time and avoid re-entering the same details.
        </div>
      </label>
    </div>

    <div class="form-row">
      <input type="submit" value="Next" />
    </div>
  </form>

{% endmacro %}
