{% macro render_step1_status(submission) %}

  {% set complete = submission.projectUniqueID %}

  <ul class="upload-status">
    {% if submission.study: %}
      {% set study = submission.study %}

      <li class="complete">
        <span class="icon"></span>
        <span>Updating {{ "published" if study.isPublished else "unpublished" }} study</span>
        <a href="{{ url_for('study_show_page', publicId=study.publicId) }}">{{ study.publicId }}</a>
      </li>
    {% else: %}
      <li class="complete">
        <span class="icon"></span>
        <span>New study</span>
      </li>
    {% endif %}

    {% if complete %}

      <li class="complete">
        <span class="icon"></span>
        <span>Project name:</span>
        <span class="truncate">
          <strong>{{ submission.studyDesign['project']['name'] }}</strong>
        </span>
      </li>
      <li class="complete">
        <span class="icon"></span>
        <span>Study name:</span>
        <span class="truncate">
          <strong>{{ submission.studyDesign['study']['name'] }}</strong>
        </span>
      </li>

      {% if submission.studyDesign['study']['authors']: %}
        <li class="complete">
          <span class="icon"></span>
          <span>Authors:</span>
          <span class="truncate">
            <strong>{{ submission.studyDesign['study']['authors']|author_link_list }}</strong>
          </span>
        </li>
      {% endif %}

    {% else %}

      <li class="incomplete">
        <span class="icon"></span> No project and study information
      </li>

    {% endif %}
  </ul>

{% endmacro %}
