{% extends '_layout.html' %}

{% block title %}: Project {{ project.publicId }}{% endblock %}

{% block content %}
  <div class="container">
    <article>
      <h2>{{ project.name }}</h2>

      {% if g.current_user and g.current_user.uuid in project.managerUuids: %}
        <div class="manager-message margin-top-10">
          <div class="help">
            This private ID can be used to gain access to the project for
            editing purposes. Only share it with other users that need that
            access.
          </div>

          <div class="copy-button-wrapper flex-row flex-grow margin-top-10">
            <button type="button" class="js-copy-button copy-button green-button">
              Copy 📋
            </button>
            <input
                autocomplete="off"
                data-real-value="{{ project.uuid }}"
                type="text"
                value="{{ "*" * 36 }}"
                class="js-export-url export-url form-input-blue full"
                readonly />
            <button type="button" class="js-show-button show-button green-button">
              Show 🕵️
            </button>
          </div>
        </div>
      {% endif %}

      <p>
        {{ project.description }}
      </p>

      <h3>List of studies</h3>

      <ul>
        {% for study in project.studies: %}
          <li>
            <a href="{{ url_for('study_show_page', publicId=study.publicId) }}">
              [{{ study.publicId }}] {{ study.name }}
            </a>

            {{ study.description|format_text }}
          </li>
        {% endfor %}
      </ul>
    </article>
  </div>
{% endblock %}
