{% macro render_strain_link(strain, strong=False) %}
  {% if strain.defined: %}
    {{ strain.ncbiId|ncbi_url|external_link(strain.name) }}
  {% else: %}
    {{ strain.name }}

    {% if strain.description: -%}
      <span class="icon icon-small icon-inline icon-info" data-tooltip="{{ strain.description }}">
      </span>
    {% endif %}

    <div style="display: inline-block" class="smaller">
      (derived from {{ strain.ncbiId|ncbi_url|external_link("NCBI:{}".format(strain.ncbiId), tooltip=strain.taxon.name) }})
    </div>
  {% endif %}
{% endmacro %}
