{% from 'shared/charts/_axis_checkboxes.html' import render_axis_checkboxes %}

<div class="chart-container">
  {{ chart.to_html()|safe }}

  <div class="data-controls">
    <div class="column left">
      <span class="icon icon-left"></span>
      <label>
        <input
            type="checkbox"
            class="js-log js-log-left"
            name="log-left"
            {{ "checked" if chart_form.log_left }} />
        <span>Log view</span>
      </label>
    </div>

    <div class="column right">
      <label>
        <input
            type="checkbox"
            class="js-log js-log-right"
            name="log-right"
            {{ "checked" if chart_form.log_right }} />
        <span>Log view</span>
      </label>
      <span class="icon icon-right"></span>
    </div>
  </div>

  <div class="traces-list js-contexts-list">
    {{ render_axis_checkboxes(chart_form, show_experiment_label=True) }}
  </div>

  <div class="permalink-container flex-row margin-top-10 copy-button-wrapper">
    {% set url = request.root_url.removesuffix('/') %}
    {% set url = url + url_for('comparison_show_page') %}
    {% set url = url + '?' + chart_form.permalink_query(in_study=False) %}

    <button
        type="button"
        class="js-copy-button green-button">
      📋 Copy link to page
    </button>
    <input type="text" class="hidden" value="{{ url }}" />
  </div>
</div>
