{% from 'utils/_post_button.html' import post_button %}

{% extends '_layout.html' %}

{% block title %}: Comparison view{% endblock %}

{% block head %}
  {% assets "plotly_js" %}
  <script src="{{ ASSET_URL }}" type="text/javascript"></script>
  {% endassets %}
{% endblock %}

{% block content %}
  <div class="container comparison-page">
    <h1>
      <span class="icon icon-emoji">↔️</span>
      Comparison view
    </h1>

    <article>
      <p class="help">
        Collect measurements from one or multiple studies by going to their
        "Visualize" pages and using the "Compare" button. From this table, use
        the checkbox to add them to the chart and compare values.
      </p>

      {% if data_source == 'session': %}
        <div style="float: right;">
          {{ post_button("Clear collected comparisons", url_for("comparison_clear_action")) }}
        </div>
        <div style="clear: both;"></div>
      {% else: %}
        <p class="notice-message">
          Currently showing a comparison between specific measurements from a
          permalink. Click on the "Compare" button in the side menu to show
          your collected measurements instead.
        </p>
      {% endif %}

      <form class="js-chart-form">
        {% for (study, records) in records_by_study.items(): %}
          {% set measurement_contexts = records['measurement_contexts'] %}
          {% set modeling_results     = records['modeling_results'] %}

          <h4>
            [<a href="{{ url_for('study_show_page', publicId=study.publicId) }}">{{ study.publicId }}</a>]
            {{ study.name }}
          </h4>

          {% for measurement_context in measurement_contexts: %}
            {% set experiment = measurement_context.bioreplicate.experiment %}

            {% set key = "measurementContext|{}".format(measurement_context.id) %}

            <div
                class="form-row js-technique-row"
                data-technique-id="{{ measurement_context.techniqueId }}"
                data-bioreplicate-id="{{ measurement_context.bioreplicateId }}"
                data-compartment-id="{{ measurement_context.compartmentId }}">
              <input
                  type="checkbox"
                  name="{{ key }}"
                  id="{{ key }}"
                  {{ "checked" if measurement_context.id in chart_form.measurement_context_ids }}
                  {{ "data-axis-left" if measurement_context.id in chart_form.left_axis_ids }}
                  {{ "data-axis-right" if measurement_context.id in chart_form.right_axis_ids }}
                  class="js-measurement-toggle" />
              <label for="{{ key }}">
                {{ experiment.name }}: {{ measurement_context.get_chart_label() }}
              </label>
            </div>
          {% endfor %}

          {% for modeling_result in modeling_results: %}
            {% set measurement_context = modeling_result.measurementContext %}
            {% set experiment          = measurement_context.bioreplicate.experiment %}

            {% set key = "modelingResult|{}".format(modeling_result.id) %}

            <div
                class="form-row js-technique-row"
                data-technique-id="{{ measurement_context.techniqueId }}"
                data-bioreplicate-id="{{ measurement_context.bioreplicateId }}"
                data-compartment-id="{{ measurement_context.compartmentId }}">
              <input
                  type="checkbox"
                  name="{{ key }}"
                  id="{{ key }}"
                  {{ "checked" if modeling_result.id in chart_form.modeling_result_ids }}
                  {{ "data-axis-left" if modeling_result.id in chart_form.left_axis_model_ids }}
                  {{ "data-axis-right" if modeling_result.id in chart_form.right_axis_model_ids }}
                  class="js-measurement-toggle" />
              <label for="{{ key }}">
                {{ experiment.name }}: {{ modeling_result.get_chart_label() }}
              </label>
            </div>
          {% endfor %}
        {% endfor %}

        <div class="form-row margin-top-10">
          <div class="columns">
            <div class="flex-row flex-gap-6 flex-end small">
              <a href="#" class="white-button js-select-all">☑️ Select all</a>
              <a href="#" class="white-button flex-right js-clear-chart">🧹 Clear</a>
            </div>

            <div class="flex-column flex-right flex-end">
              <label>
                <input type="checkbox" name="showStd" {{ "checked" if chart_form.show_std }}>
                Show standard deviation
              </label>
              <label>
                <input type="checkbox" name="showPerturbations" {{ "checked" if chart_form.show_perturbations }}>
                Show perturbations
              </label>
            </div>

            <label class="flex-column flex-right">
              <span>Cell count units:</span>
              <select name="cellCountUnits" class="form-input-blue">
                <option>Cells/mL</option>
                <option>Cells/μL</option>
              </select>
            </label>

            <label class="flex-column">
              <span>CFU count units</span>
              <select name="cfuCountUnits" class="form-input-blue">
                <option>CFUs/mL</option>
                <option>CFUs/μL</option>
              </select>
            </label>

            <label class="flex-column">
              <span>Metabolite units:</span>
              <select name="metaboliteUnits" class="form-input-blue">
                <optgroup label="Molar concentration">
                  <option value="mM">Millimolars (mM)</option>
                  <option value="μM">Micromolars (μM)</option>
                  <option value="nM">Nanomolars (nM)</option>
                  <option value="pM">Picomolars (pM)</option>
                </optgroup>
                <optgroup label="Mass concentration">
                  <option value="g/L">Grams per Liter (g/L)</option>
                  <option value="mg/L">Milligrams per Liter (mg/L)</option>
                </optgroup>
              </select>
            </label>
          </div>
        </div>

        <br>

        <div class="data-container">
          <div class="chart-row chart js-chart">
            <div class="chart-placeholder">
              📊
            </div>
          </div>
        </div>
      </form>
    </article>
  </div>
{% endblock %}
