<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>
      µGrowthDB{% block title %}{% endblock %}
    </title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" sizes="72x72">

    {% assets "app_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" media="screen" />
    {% endassets %}

    {% assets "app_js" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}

    {% block head %}
    {% endblock %}
  </head>

  <body>
    <aside id="page-sidebar" class="{{ 'open' if g.sidebar_open }}">
      <div class="close-sidebar-trigger">
        <a href="#">
          <img alt="Close sidebar" src="{{ url_for('static', filename='images/icons/chevrons-left.svg') }}" />
        </a>
      </div>

      {% include '_sidebar.html' %}
    </aside>

    <main id="main" class="{{ 'with-open-sidebar' if g.sidebar_open }}">
      <div class="open-sidebar-trigger {{ 'active' if not g.sidebar_open }}">
        <a href="#">
          <img alt="Open sidebar" src="{{ url_for('static', filename='images/icons/chevrons-right.svg') }}" />
        </a>
      </div>

      {% block content %}{% endblock %}
    </main>
  </body>
</html>
