.help-page-index {
  .highlight {
    background-color: var(--light-blue);
  }

  .page-list-container {
    transition: opacity var(--transition-length) ease;
  }

  ul {
    padding-left: 20px;

    li {
      margin-top: 10px;
    }
  }

  .description {
    font-size: 14px;
    font-style: italic;
    opacity: 0.8;
    margin-top: 6px;
  }
}

.help-page {
  h2 {
    border-bottom: 2px solid var(--light-blue);
    padding-bottom: 4px;
    clear: both;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  img {
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 10px;

    &.no-border {
      border: 0;
      padding: 0;
    }
  }

  table {
    border-collapse: collapse;

    th, td {
      padding: 6px 13px;
      border: 1px solid var(--border-color);
      vertical-align: top;
    }
  }

  code {
    /* Borrowed from Github */
    font-family: monospace;
    font-size: 15px;
    padding: .2em .4em;
    margin: 0;
    white-space: break-spaces;
    background-color: #818b981f;
    border-radius: 6px;
  }
}
