:root {
  --sidebar-width: 250px;
  --border-color: rgba(7, 25, 82, 0.2);
  --light-border-color: rgba(7, 25, 82, 0.1);
  --border-radius: 6px;
  --black: rgb(7, 25, 82);
  --light-blue: rgb(202, 234, 234);
  --dark-blue: rgb(8, 131, 149);
  --sidebar-color: #caeaea;
  --sidebar-hover-color: rgba(121, 200, 200, 0.25);
  --transition-length: 250ms;
}

body *{
  font-family: 'Public Sans', sans-serif;
  color: var(--black);
}

h1 {
  color: var(--dark-blue);
}

pre {
  font-family: monospace;
}

a:hover {
  color: #0060df;
}

#page-sidebar {
  position: fixed;
  transition: width var(--transition-length);
  overflow-x: hidden;
  background-color: var(--sidebar-color);
  height: 100%;
  padding-top: 20px;

  width: 0;
  &.open { width: var(--sidebar-width); }

  nav {
    margin: 0 auto;

    hr {
      margin: 8px 0;
      opacity: 0.7;
    }
  }

  a {
    white-space: nowrap;
  }
}

#main {
  transition: margin-left var(--transition-length);
  padding-top: 20px;

  &.with-open-sidebar {
    margin-left: var(--sidebar-width);
  }
}

.open-sidebar-trigger {
  position: fixed;
  top: 20px;
  left: 0px;
  background-color: #caeaea;
  border-radius: 0 10px 10px 0;

  /* Expanded to 40px when sidebar is closed: */
  height: 36px;
  width: 0px;
  &.active {
    width: 40px;
  }

  transition: width var(--transition-length);
  font-size: 24px;
  text-align: right;
  overflow: hidden;

  a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 6px 10px;
  }

  &:hover {
    background-color: var(--sidebar-hover-color);
  }
}

.close-sidebar-trigger {
  position: absolute;
  border-radius: 10px 0 0 10px;
  font-size: 24px;
  top: 20px;
  right: 0px;

  a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 6px 10px;
  }

  &:hover {
    background-color: var(--sidebar-hover-color);
  }
}

header img {
  margin: 0 auto;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
}

.about-page .address {
  display: flex;
  padding-top: 40px;

  .text {
    width: 40%;
    h3 { margin-top: 0; }
  }

  .map {
    width: 60%;
    background: no-repeat center url('/static/images/loader.svg');
    background-size: 50px;
    border: 1px solid gray;
  }
}

.help-page {
  details {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
  }

  summary:hover {
    cursor: pointer;
  }

  summary:focus {
    outline: none;
    font-weight: 600;
  }
}
