.workspaces-modeling-page {
  .chart-form {
    margin-top: 20px;

    label {
      word-break: normal;
      overflow-wrap: anywhere;
    }
  }

  .columns {
    display: flex;
    flex-direction: row;
    column-gap: 10px;

    .controls-column {
      width: 30%;
    }

    .chart-column {
      width: 70%;
      overflow-x: hidden;
    }
  }

  .r-summary pre {
    padding: 10px;
    background-color: #eee;
  }

  .trace-group {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-top: 10px;
  }

  .data-controls {
    border-bottom: 2px solid var(--border-color);
    padding: 4px 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .column {
      display: flex;
      flex-direction: row;
    }

    input[type="checkbox"] {
      margin: 0;
    }
  }
}
