.workspaces-visualize-page {
  .columns {
    display: flex;
    flex-direction: row;
    column-gap: 10px;

    .controls-column {
      width: 30%;
    }

    .chart-column {
      width: 70%;
      overflow-x: hidden;
    }
  }

  .trace-group {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-top: 10px;
  }
}
