{% macro render_chart_form_by_et(form, study) %}

  {% set selectedExperimentId = request.args.get('selectedExperimentId', '') %}
  {% set selectedTechniqueId  = request.args.get('selectedTechniqueId',  '0')|int %}

  <div class="form-row">
    <label>
      <span>Experiment:</span>
      <select name="experimentId" class="form-input-blue full">
        {% for experiment in study.experiments: %}
          <option
              {{ "selected" if experiment.publicId == selectedExperimentId }}
              value="{{ experiment.publicId }}">
            {{- experiment.name }}: {{ experiment.description|truncate(80) -}}
          </option>
        {% endfor %}
      </select>
    </label>
  </div>

  {% for experiment in study.experiments: %}
    <div
        class="experiment-container small hidden js-experiment-container"
        data-experiment-id="{{ experiment.publicId }}">
      {{ experiment.description|format_text }}
    </div>
  {% endfor %}

  <div class="form-row margin-top-10">
    <label class="full">
      <span>Measurement technique:</span>
      <select name="techniqueId" class="form-input-blue full">
        {% for study_technique in study.studyTechniques: %}
          {% if study_technique.measurementTechniques|length > 1: %}
            <optgroup label="{{- study_technique.long_name_with_subject_type -}}">
              {% for measurement_technique in study_technique.measurementTechniques: %}
                <option
                    {{ "selected" if measurement_technique.id == selectedTechniqueId }}
                    value="{{ measurement_technique.id }}"
                    data-subject-type="{{ measurement_technique.subjectType }}">
                  {{- measurement_technique.short_name -}}
                </option>
              {% endfor %}
            </optgroup>
          {% else: %}
            {% set measurement_technique = study_technique.measurementTechniques[0] %}
            <option
                {{ "selected" if measurement_technique.id == selectedTechniqueId }}
                value="{{ measurement_technique.id }}"
                data-subject-type="{{ measurement_technique.subjectType }}">
              {{- measurement_technique.long_name_with_subject_type -}}
            </option>
          {% endif %}
        {% endfor %}
      </select>
    </label>
  </div>

  {% for experiment in study.experiments: %}
    <div
        class="experiment-container margin-top-10 scroll-shadows hidden js-experiment-container"
        data-experiment-id="{{ experiment.publicId }}">
      <div class="experiment">
        {% for technique in study.measurementTechniques: %}
          {% for (bioreplicate, compartment), contexts in technique.get_grouped_contexts() if bioreplicate.experimentId == experiment.publicId: %}
            {% if technique.subjectType != 'bioreplicate': %}
              <div
                  class="form-row hidden js-trace-row js-header-row"
                  data-technique-id="{{ technique.id }}">
                {% if bioreplicate.name.startswith('Average('): %}
                  {% set description = "Average measurements over compartment {} across all biological replicates of the experiment {}.".format(compartment.name, experiment.name) %}
                {% else: %}
                  {% set description = "Measurements in compartment {} of biological replicate {}".format(compartment.name, bioreplicate.name) %}
                {% endif %}

                <h4 data-tooltip="{{ description }}">
                  {% if experiment.compartments|length <= 1: %}
                    {{ bioreplicate.name }}
                  {% else: %}
                    {{ bioreplicate.name }}<sub>{{ compartment.name }}</sub>
                  {% endif %}

                  {% if bioreplicate.calculationType == 'average': %}
                    <span class="icon icon-inline icon-calculated">
                    </span>
                  {% endif %}
                </h4>
              </div>

              {% if contexts|length > 1: %}
                <div
                    class="form-row hidden js-trace-row"
                    data-technique-id="{{ technique.id }}">
                  <button
                      type="button"
                      class="white-button small-button smaller js-select-all">
                    🗹 Select all
                  </button>

                  <button
                      type="button"
                      class="white-button small-button smaller flex-right js-deselect-all"
                      style="margin-right: 10px;">
                    ☐ Deselect all
                  </button>
                </div>
              {% endif %}
            {% endif %}

            {% for measurement_context in contexts: %}
              {% set subjectType = measurement_context.subjectType %}
              {% set subjectName = measurement_context.subjectName %}

              {% set key = "measurementContext|{}".format(measurement_context.id) %}

              <div
                  class="form-row hidden js-trace-row"
                  data-subject="{{ subjectType}}|{{ subjectId }}"
                  data-technique-id="{{ measurement_context.techniqueId }}">
                <input
                    type="checkbox"
                    name="{{ key }}"
                    id="{{ key }}"
                    {{ "checked" if measurement_context.id in form.measurement_context_ids }}
                    {{ "data-axis-left" if measurement_context.id in form.left_axis_ids }}
                    {{ "data-axis-right" if measurement_context.id in form.right_axis_ids }}
                    class="js-measurement-toggle" />
                <label for="{{ key }}">
                  {% if subjectType == 'bioreplicate' and experiment.compartments|length > 1: %}
                    {{ subjectName }}<sub>{{ measurement_context.compartment.name }}</sub>
                  {% else: %}
                    {{ subjectName }}
                  {% endif %}

                  {% if subjectType == 'strain' and subjectName == 'Unknown': %}
                    <span
                        class="icon icon-inline icon-unknown-strain"
                        data-tooltip="This data represents measurements (reads/counts) of subjects that couldn't be identified">
                    </span>
                  {% endif %}
                </label>
              </div>

              {% for modeling_result in measurement_context.publishedModelingResults: %}
                {% set key = "modelingResult|{}".format(modeling_result.id) %}

                <div
                    class="form-row small model-row hidden js-trace-row"
                    data-technique-id="{{ measurement_context.techniqueId }}">
                  <span class="icon icon-arrow-down-right"></span>
                  <input
                      type="checkbox"
                      name="{{ key }}"
                      id="{{ key }}"
                      {{ "checked" if modeling_result.id in form.modeling_result_ids }}
                      {{ "data-axis-left" if modeling_result.id in form.left_axis_model_ids }}
                      {{ "data-axis-right" if modeling_result.id in form.right_axis_model_ids }}
                      class="js-measurement-toggle" />
                  <label for="{{ key }}">
                    {{ modeling_result.model_name }}

                    {% if modeling_result.short_model_name: %}
                      ({{ modeling_result.short_model_name }})
                    {% endif %}
                  </label>
                </div>
              {% endfor %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  <div class="form-row margin-top-10 small">
    <a href="#" class="white-button small-button flex-right js-clear-chart">
      🧹 Clear chart
    </a>
  </div>

{% endmacro %}
