<div class="chart-container">
  {{ chart.to_html()|safe }}

  <div class="data-controls">
    <div class="column left">
      <span class="icon icon-left"></span>
      <label>
        <input
            type="checkbox"
            class="js-log js-log-left"
            name="log-left"
            {{ "checked" if chart_form.log_left }} />
        <span>Log view</span>
      </label>
    </div>

    <div class="column right">
      <label>
        <input
            type="checkbox"
            class="js-log js-log-right"
            name="log-right"
            {{ "checked" if chart_form.log_right }} />
        <span>Log view</span>
      </label>
      <span class="icon icon-right"></span>
    </div>
  </div>

  <div class="contexts-list js-contexts-list">
    {% for units, measurement_contexts in chart_form.measurement_contexts_by_units: %}
      {% if units != '__ungrouped__': %}
        <div class="flex-row group-row js-row js-group-row">
          <div class="left flex-row" data-tooltip="Move data trace to the left axis">
            <span class="icon icon-left"></span>
            <input
                type="checkbox"
                class="js-axis-group js-axis-left"
                value="left" />
          </div>

          <div class="middle {{ "align-right" if right_axis }}">
            <strong>
              {% if units == '': %}
                Unitless measurements
              {% else: %}
                Measurements in {{ units }}
              {% endif %}
            </strong>
          </div>

          <div class="flex-row right" data-tooltip="Move data trace to the right axis">
            <input
                type="checkbox"
                class="js-axis-group js-axis-right"
                value="right" />
            <span class="icon icon-right"></span>
          </div>
        </div>
      {% endif %}

      {% for measurement_context in measurement_contexts: %}
        <div
          class="flex-row context-row js-row {{ "blank" if measurement_context.id in chart_form.no_axis_ids }}"
          data-context-id="{{ measurement_context.id }}">
          <div class="left flex-row" data-tooltip="Move data trace to the left axis">
            <span class="icon icon-left"></span>
            <input
                type="checkbox"
                class="js-axis js-axis-left"
                name="axis|measurementContext|{{ measurement_context.id }}"
                {{ "checked" if measurement_context.id in chart_form.left_axis_ids }}
                value="left" />
          </div>

          {% set right_axis = True if measurement_context.id in chart_form.right_axis_ids else False %}
          {% set left_axis = not right_axis %}

          <div class="middle {{ "align-right" if right_axis }}">
            {{ measurement_context.get_chart_label() }}
          </div>

          <div class="flex-row right" data-tooltip="Move data trace to the right axis">
            <input
                type="checkbox"
                class="js-axis js-axis-right"
                name="axis|measurementContext|{{ measurement_context.id }}"
                {{ "checked" if measurement_context.id in chart_form.right_axis_ids }}
                value="right" />
            <span class="icon icon-right"></span>
          </div>

          <div class="hidden">
            <input
                type="checkbox"
                class="js-axis js-axis-blank"
                {{ "checked" if measurement_context.id in chart_form.no_axis_ids }}
                name="axis|measurementContext|{{ measurement_context.id }}"
                value="blank" />
          </div>
        </div>
      {% endfor %}
    {% endfor %}

    {% if chart_form.modeling_results|length > 0: %}
      <div class="flex-row group-row js-row js-group-row">
        <div class="middle {{ "align-right" if right_axis }}">
          <strong>Model predictions</strong>
        </div>
      </div>
    {% endif %}

    {% for modeling_result in chart_form.modeling_results: %}
      <div
          class="flex-row context-row js-row {{ "blank" if modeling_result.id in chart_form.no_axis_model_ids }}"
          data-model-id="{{ modeling_result.id }}">
        <div class="left flex-row" data-tooltip="Move data trace to the left axis">
          <span class="icon icon-left"></span>
          <input
              type="checkbox"
              class="js-axis js-axis-left"
              name="axis|modelingResult|{{ modeling_result.id }}"
              {{ "checked" if modeling_result.id in chart_form.left_axis_model_ids }}
              value="left" />
        </div>

        {% set right_axis = True if modeling_result.id in chart_form.right_axis_model_ids else False %}
        {% set left_axis = not right_axis %}

        <div class="middle {{ "align-right" if right_axis }}">
          {{ modeling_result.get_chart_label() }}
        </div>

        <div class="flex-row right" data-tooltip="Move data trace to the right axis">
          <input
              type="checkbox"
              class="js-axis js-axis-right"
              name="axis|modelingResult|{{ modeling_result.id }}"
              {{ "checked" if modeling_result.id in chart_form.right_axis_model_ids }}
              value="right" />
          <span class="icon icon-right"></span>
        </div>

        <div class="hidden">
          <input
              type="checkbox"
              class="js-axis js-axis-blank"
              name="axis|modelingResult|{{ modeling_result.id }}"
              {{ "checked" if modeling_result.id in chart_form.no_axis_model_ids }}
              value="blank" />
        </div>
      </div>
    {% endfor %}
  </div>

  <br>

  <div class="flex-row margin-top-10">
    <a
        href="{{ url_for('study_visualize_page', publicId=study.publicId) }}?{{ chart_form.permalink_query }}"
        class="js-permalink">
      Link to this page
    </a>

    <a href="#" class="green-button flex-right js-compare">
      Compare across studies
    </a>
  </div>
</div>
