{% macro render_chart_form_averages(form, study) %}

  <div class="form-row margin-bottom-10">
    <label class="full">
      <span>Filter</span>
      <input
          type="text"
          name="traceFilter"
          class="form-input-blue form-input-full js-filter-input" />
    </label>
  </div>

  <div class="trace-group experiment-container scroll-shadows" style="max-height: 400px;">
    <div class="form-row">
      <button
          type="button"
          class="white-button small-button smaller js-select-all">
        🗹 Select all
      </button>

      <button
          type="button"
          class="white-button small-button smaller flex-right js-deselect-all"
          style="margin-right: 10px;">
        ☐ Deselect all
      </button>
    </div>

    {% for experiment in study.experiments: %}
      {% for measurement_context in experiment.measurementContexts if measurement_context.calculationType == 'average': %}
        {% set bioreplicate = measurement_context.bioreplicate %}

        {% set key = "measurementContext|{}".format(measurement_context.id) %}

        <div class="form-row js-trace-row">
          <input
              type="checkbox"
              name="{{ key }}"
              id="{{ key }}"
              {{ "checked" if measurement_context.id in form.measurement_context_ids }}
              {{ "data-axis-left" if measurement_context.id in form.left_axis_ids }}
              {{ "data-axis-right" if measurement_context.id in form.right_axis_ids }}
              class="js-measurement-toggle" />
          <label class="full" for="{{ key }}">
            <span class="icon icon-inline icon-info" data-tooltip="{{ experiment.description }}">
            </span>

            {% if measurement_context.subjectType == 'metabolite': %}
              {{ measurement_context.subjectName }}
            {% elif measurement_context.subjectType == 'strain': %}
              {{ measurement_context.technique.short_name }} of {{ measurement_context.subjectName }}
            {% else: %}
              {{ measurement_context.technique.short_name }}
            {% endif %}

            in

            {% if experiment.compartments|length > 1: %}
              {{ bioreplicate.name }}<sub>{{ measurement_context.compartment.name }}</sub>
            {% else: %}
              {{ bioreplicate.name }}
            {% endif %}
          </label>
        </div>

        {% for modeling_result in measurement_context.publishedModelingResults: %}
          {% set key = "modelingResult|{}".format(modeling_result.id) %}

          <div
              class="form-row small model-row js-trace-row"
              data-technique-id="{{ measurement_context.techniqueId }}">
            <span class="icon icon-arrow-down-right"></span>
            <input
                type="checkbox"
                name="{{ key }}"
                id="{{ key }}"
                {{ "checked" if modeling_result.id in form.modeling_result_ids }}
                {{ "data-axis-left" if modeling_result.id in form.left_axis_model_ids }}
                {{ "data-axis-right" if modeling_result.id in form.right_axis_model_ids }}
                class="js-measurement-toggle" />
            <label for="{{ key }}">
              {{ modeling_result.model_name }}

              {% if modeling_result.short_model_name: %}
                ({{ modeling_result.short_model_name }})
              {% endif %}
            </label>
          </div>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </div>

  <div class="form-row margin-top-10 small">
    <a href="#" class="white-button small-button flex-right js-clear-chart">
      🧹 Clear chart
    </a>
  </div>

{% endmacro %}
