{% macro render_measurement_context_row(form, experiment, measurement_context) %}

  {% set subjectId   = measurement_context.subjectId %}
  {% set subjectType = measurement_context.subjectType %}
  {% set subjectName = measurement_context.subjectName %}

  {% set key = "measurementContext|{}".format(measurement_context.id) %}

  <div
      class="form-row hidden js-trace-row"
      data-subject="{{ subjectType}}|{{ subjectId }}"
      data-technique-id="{{ measurement_context.techniqueId }}">
    <input
        type="checkbox"
        name="{{ key }}"
        id="{{ key }}"
        {{ "checked" if measurement_context.id in form.measurement_context_ids }}
        {{ "data-axis-left" if measurement_context.id in form.left_axis_ids }}
        {{ "data-axis-right" if measurement_context.id in form.right_axis_ids }}
        class="js-measurement-toggle" />
    <label for="{{ key }}">
      {% if subjectType == 'bioreplicate' and experiment.compartments|length > 1: %}
        {{ subjectName }}<sub>{{ measurement_context.compartment.name }}</sub>
      {% else: %}
        {{ subjectName }}
      {% endif %}

      {% if subjectType == 'strain' and subjectName == 'Unknown': %}
        <span
            class="icon icon-inline icon-unknown-strain"
            data-tooltip="This data represents measurements (reads/counts) of subjects that couldn't be identified">
        </span>
      {% endif %}
    </label>
  </div>

  {% for modeling_result in measurement_context.publishedModelingResults: %}
    {% set key = "modelingResult|{}".format(modeling_result.id) %}

    <div
        class="form-row small model-row hidden js-trace-row"
        data-technique-id="{{ measurement_context.techniqueId }}">
      <span class="icon icon-arrow-down-right"></span>
      <input
          type="checkbox"
          name="{{ key }}"
          id="{{ key }}"
          {{ "checked" if modeling_result.id in form.modeling_result_ids }}
          {{ "data-axis-left" if modeling_result.id in form.left_axis_model_ids }}
          {{ "data-axis-right" if modeling_result.id in form.right_axis_model_ids }}
          class="js-measurement-toggle" />
      <label for="{{ key }}">
        {{ modeling_result.model_name }}

        {% if modeling_result.short_model_name: %}
          ({{ modeling_result.short_model_name }})
        {% endif %}
      </label>
    </div>
  {% endfor %}

{% endmacro %}
