{% from 'utils/_form_errors.html' import render_form_errors %}
{% from 'pages/search/_results_list.html' import render_results_list %}

{% extends '_layout.html' %}

{% block title %}: Search{% endblock %}

{% block content %}
  <div class="container search-page">
    <div style="font-size: 14px; float: right">
      {{ "searching"|help_link("❓ Help", css_class="white-button small-button") }}
    </div>

    <h1>
      <span class="icon icon-emoji">🔍</span>
      Explore microbial growth studies
    </h1>

    <article>
      <form
          action="{{ url_for('search_index_page') }}"
          class="simple-form margin-top-10 js-search-form">
        <div class="form-row full">
          <label class="full">
            <span>By study title, description, or author name:</span>
            <input
                type="text"
                name="q"
                tabindex="1"
                autocomplete="off"
                value="{{ request.args.get('q') or '' }}"
                placeholder="Text included in the study"
                class="form-input-full form-input-blue" />
          </label>

          <input class="flex-end" type="submit" value="🔍 Search" />
          <a href="{{ url_for('search_index_page') }}" class="flex-end white-button">🧹 Clear</a>

          <label>
            <span>Items per page</span>
            {% set selected = search.per_page|string %}
            <select name="perPage" class="form-input-blue form-input-full js-per-page">
              <option {{ "selected" if selected == '10' }}>10</option>
              <option {{ "selected" if selected == '20' }}>20</option>
              <option {{ "selected" if selected == '50' }}>50</option>
            </select>
          </label>
        </div>

        <div class="form-row full">
          <label class="flex-1">
            <span>By microbial strain:</span>
            <select
                tabindex="2"
                name="ncbiIds"
                multiple="multiple"
                class="strain-select js-strain-select">
              {% for taxon in search.fetch_taxa(): %}
                <option value="{{ taxon.ncbiId }}" selected="selected">{{ taxon.name }} (NCBI:{{ taxon.ncbiId }})</option>
              {% endfor %}
            </select>
          </label>

          <label class="flex-1">
            <span>By metabolite:</span>
            <select
                tabindex="3"
                name="chebiIds"
                multiple="multiple"
                class="metabolite-select js-metabolite-select">
              {% for metabolite in search.fetch_metabolites(): %}
                <option value="{{ metabolite.chebiId }}" selected>{{ metabolite.name }} ({{ metabolite.chebiId }})</option>
              {% endfor %}
            </select>
          </label>
        </div>
      </form>

      <a class="float-right small" href="{{ url_for('advanced_search_index_page') }}">
        Advanced search
      </a>

      <div class="clear"></div>

      <ol class="results-list js-results-list">
        {{ render_results_list(studies, search, offset) }}
      </ol>
    </article>
  </div>
{% endblock %}
